$color-black: #000000;
$color-lightblack: rgba(0,0,0,0.87);
$color-white: #ffffff;
$color-grey: #cccccc;
$color-lightgrey: #f5f5f5;
$color-lightgreen: #31ce36;
$color-green: #4caf50;
$color-orange: #f57c00;
$color-darkblue: #0f238c;
$color-transparent-blue: #303a9a;
$color-red: #f44336;
$color-purple: #6861ce;
$color-purple-alternative: #9169ae;