@import './../../../variables.scss';

nav {
    background: $color-darkblue;
    position: fixed;
    top:0;
    left:0;
    z-index:999;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
    
}